* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.calculator {
    max-width: 265px;
    margin: 50px auto;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.calculator-display {
    width: 100%;
    height: 80px;
    padding: 20px 20px 0px 10px;
    font-weight: 100;
    font-size: 45px;
    color: #fff;
    background-color: #535353;
    border: none;
    border-radius: 20px 20px 0px 0px;
    text-align: right;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.calculator-button {
    padding: 15px;
    font-size: 20px;
    border: 1px solid #545454;
    background-color: #7d7d7d;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calculator-button:hover {
    background-color: #6a6a6a;
}

.operator {
    background-color: #ff9f0a;
    font-size: 24px;
}

.operator:hover {
    background-color: #e8900b;
}

.spec-button {
    background-color: #646464;
    border-top: none;
}

.spec-button:hover {
    background-color: #5b5b5b;
}

.calculator.dark-theme .calculator-button {
    background-color: #444;
    color: #fff;
}
.calculator.dark-theme .calculator-button:hover {
    background-color: #6a6a6a;
}
.calculator.dark-theme .operator {
    background-color: #ff9f0a;
}
.calculator.dark-theme .operator:hover {
    background-color: #e8900b;
}

.calculator.dark-theme .spec-button {
    background-color: #818181;
}

.theme-toggle-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 0 0 20px 20px;
    background-color: #535353;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.theme-toggle-button:hover {
    background-color: #6a6a6a;
}
